.order-form-main{
    border: 1px solid;
    padding: 20px;
    float: right;
}
.bevMenu-main{
    border: 1px solid;
    /* height: 200px; */
}
.bevContainer-main{
    min-height: 200px;
}
li{
    list-style-type: none;
}
.no-padding {
    padding: 0 !important;
 }
 ul{
    height: 40px;
    background-color: antiquewhite;
    text-align: center;
    font-size: 15px;
 }